.col,

.col-5 {
padding: 1rem;

text-align: center;
}

img {
  width:200px;
}

.s{
  width: 1000px;
  position: absolute;
  top: 70px;
  left: 70px;
}

.img-fluid{

  width: 100%;
}

.fetch{
  
  display: inline-block;
}

.subtitle{

}

.title{
  padding-top: 10px;
  font-size: 18px;

}

